.navbar{
    background-color: orangered !important;
}
.app{
    margin-left: 50px;
    margin-top: 10px;
    
}
h3{
    font-size: medium;
    color: black;
    
}
a{
    text-decoration: none;
}
p{
    margin-left: 15px;
}
.btn-secondary{
    margin-left: 40px;
}
.app2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.search{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 100px;
    margin-top: 10px;
    }
input{
   border-radius: 4px;
   width: 200px;
}
i{
    margin-right: 10px;
    position: absolute;
   
}